.container {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  gap: 20px;
}

.title {
  margin: 0;
  color: #222222;
  font-size: 22px;
  font-weight: 500;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: stretch;
}
